<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/admin/IdeaProjects/QA_Specialist_Assignment_ZipBoard">
        <classes>
            <class name="tests.LoginTests">
                <methods>
                    <include name="testValidLogin"/>
                    <include name="testInvalidEmailFormat"/>
                    <include name="testBlankFields"/>
                    <include name="testShortPassword"/>
                    <include name="testForgotPasswordLink"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>